.login-form{
width: 100%;
    .login-form-field{
        width: 100%;
    }
}
.login-btns{
    text-align: center;
    .mat-raised-button{
        width: 100px;
        height: 40px;
        border-radius: 20px;
    }
}
